*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-light: #e3eae8;
  --color-dark: #152d5c;
  --color-highlight: #dac62f;
  --color-hit: #f43631;
  --color-ship: #8fa29a;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  border-radius: 1em;
  border: solid 5px;
  padding: 1em;
  color: var(--color-dark);
  background-color: var(--color-ship);
}

button:hover {
  cursor: pointer;
  border-color: var(--color-highlight);
  opacity: 0.8;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.clickable:hover {
  border: solid var(--color-highlight) 2px;
  cursor: pointer;
}

h1, h2, h3 {
  text-align: center;
}

.cell {
  width: 1.5em;
  height: 1.5em;
  border: solid black 1px;
}

.cell.hit {
  background-color: var(--color-hit);
}

.cell.miss {
  background-color: var(--color-light);
}

.cell.ship {
  background-color: var(--color-ship);
}

.cell.ship.hit {
  background-color: var(--color-hit);
}

.cell.ship.sunk, li.sunk {
  background: url("./images/sunk.svg");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em;
}

li {
  border: solid white 2px;
  border-radius: 1em;
  text-align: center;
  padding: 0.3em 1em;
}

.board {
  text-align: center;
  display: grid;
  justify-content: center;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.btn.close-dialog {
  font-weight: 800;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: .8em 2em;
}

/* Modal Dialog */

::backdrop {
  opacity: 1;
  background-color: var(--color-dark);
}

dialog {
  width: 80%;
  max-width: 800px;
  border: none;
  background-color: var(--color-light);
  border-radius: 0.4em;
  margin: 0;
  transform: translateX(-50%);
  left: 50%;
  top: 20%;
  transition: display 1s allow-discrete, overlay 1s allow-discrete;
  animation: close 1s forwards;
  &[open] {
    animation: open 1s forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dialog-swap-players {
  text-align: center;
  color: var(--color-dark);
}

.dialog-swap-players__result {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em;
  padding: 1em 0;
  border: 5px solid var(--color-dark);
  border-radius: 1em;
}

.dialog-swap-players__result.hit {
  background-color: var(--color-hit);
  color: var(--color-highlight);
}

.dialog-swap-players__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1em;
}

.dialog-swap-players__button {
  font-size: 1.5rem;
}